@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-bricolage_grotesque), sans-serif;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6, title {
  font-family: var(--font-manrope), sans-serif;
}